#################
## project build results
#################
target/

#################
## Eclipse
#################
#.project
#.metadata
#bin/
#tmp/
#.classpath
#.settings/
#.loadpath

############
## Idea
############
.idea
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Unit test / coverage reports
.coverage
.tox

